<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bedrock Service Manager</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white">
        <span class="navbar-brand m1-2">BMS MANAGER</span>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>