@using BedrockService.Shared.Classes
@model BedrockService.Shared.Interfaces.IServerConfiguration

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model.GetServerName()
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>@Model.GetProp("level-name").ToString()</small>
            </span>
        </h4>
    </div>
    @foreach(LogEntry entry in Model.GetLog()) {
    <span class="car-text p-1">@entry.Text</span>
    }
</div>